<a href="https://colab.research.google.com/github/Sumithelonde/DL/blob/main/Graduate_Admission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("Admission_Predict.csv")

In [41]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [42]:
df.drop(columns = ["Serial No."], axis = 1, inplace = True)

In [43]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [44]:
X = df.drop(columns = ["Chance of Admit "], axis = 1)
y = df["Chance of Admit "]

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [47]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [48]:
X_train_Scaled = scaler.fit_transform(X_train)
X_test_Scaled = scaler.fit_transform(X_test)

In [49]:
X_train_Scaled

array([[0.64      , 0.64285714, 0.5       , ..., 0.375     , 0.59935897,
        1.        ],
       [0.56      , 0.64285714, 0.5       , ..., 0.5       , 0.64102564,
        0.        ],
       [1.        , 1.        , 1.        , ..., 0.875     , 0.99679487,
        1.        ],
       ...,
       [0.32      , 0.46428571, 0.25      , ..., 0.5       , 0.45512821,
        1.        ],
       [0.24      , 0.25      , 0.        , ..., 0.25      , 0.14423077,
        0.        ],
       [0.48      , 0.5       , 0.25      , ..., 0.625     , 0.46474359,
        0.        ]])

In [50]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential

In [51]:
model = Sequential()

In [52]:
model.add(Dense(7 , activation = "relu" , input_dim = 7))
model.add(Dense(1 , activation = "linear"))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [53]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_5 (Dense)                 │ (None, 7)              │            56 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 1)              │             8 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 64 (256.00 B)

 Trainable params: 64 (256.00 B)

 Non-trainable params: 0 (0.00 B)

In [54]:
model.compile(loss = "mean_squared_error" , optimizer = "Adam")

In [55]:
model.fit(X_train,y_train, epochs = 25)

Epoch 1/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 2977.2913
Epoch 2/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 2319.3608
Epoch 3/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1646.8533
Epoch 4/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1141.9534
Epoch 5/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 727.0443
Epoch 6/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 437.0772
Epoch 7/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 245.7145
Epoch 8/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 124.7004
Epoch 9/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 56.0318
Epoch 10/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 21.3007
Epoch 11/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 6.8791
Epoch 12/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.7304
Epoch 13/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.4646
Epoch 14/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2871
Epoch 15/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.3013
Epoch 16/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2882
Epoch 17/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2754
Epoch 18/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2745
Epoch 19/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2762
Epoch 20/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2803
Epoch 21/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.3063
Epoch 22/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2534
Epoch 23/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2790
Epoch 24/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2992
Epoch 25/25
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2850

In [60]:
y_pred = model.predict(X_test_Scaled)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step

In [61]:
y_pred

array([[0.6278276 ],
       [0.78485787],
       [0.76779556],
       [0.78654057],
       [0.6069068 ],
       [0.76929533],
       [0.27591547],
       [0.12183461],
       [0.17102703],
       [0.7455515 ],
       [0.25444564],
       [0.74732095],
       [0.06892894],
       [0.8581672 ],
       [0.29435018],
       [0.58273035],
       [0.2631081 ],
       [0.23055536],
       [0.6542451 ],
       [0.8487762 ],
       [0.30716512],
       [0.289688  ],
       [0.18940258],
       [0.1520248 ],
       [0.7756843 ],
       [0.68927157],
       [0.6620467 ],
       [0.20484358],
       [0.5926145 ],
       [0.678966  ],
       [0.698972  ],
       [0.76105833],
       [0.22131157],
       [0.4402349 ],
       [0.15526012],
       [0.36517027],
       [0.26346928],
       [0.1964117 ],
       [0.11620253],
       [0.72539914],
       [0.65057087],
       [0.1839877 ],
       [0.59456044],
       [0.74916923],
       [0.8311295 ],
       [0.78224874],
       [0.7851882 ],
       [0.18291602],
       [0.8124953 ],
       [0.73643875],
       [0.73732275],
       [0.6760908 ],
       [0.7090223 ],
       [0.81251794],
       [0.05622419],
       [0.23855796],
       [0.1992248 ],
       [0.74945164],
       [0.6491488 ],
       [0.7861512 ],
       [0.2104449 ],
       [0.6001336 ],
       [0.24626055],
       [0.63030463],
       [0.14997283],
       [0.646591  ],
       [0.6208275 ],
       [0.3571524 ],
       [0.7816531 ],
       [0.7914289 ],
       [0.6875948 ],
       [0.7399745 ],
       [0.7613105 ],
       [0.80975914],
       [0.12542886],
       [0.2792535 ],
       [0.22885376],
       [0.55811834],
       [0.6935699 ],
       [0.34767374]], dtype=float32)

In [62]:
from sklearn.metrics import r2_score